header.header div {
  background-color: var(--bg-default);
  padding: 0px 15px;
  box-shadow: var(--shadow);
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-between;
}

header div.header-rigth {
  box-shadow: none;
  background-color: none;
}

.header-rigth {
  padding-right: 3rem;
  width: 100%;
  box-shadow: none;
  background-color: none;
}

@media screen and (max-width: 599px) {
  header.header div {
    display: block;
    padding-bottom: 0.5rem;
  }

  header.header div ul li a {
    width: 100%;
    display: block;
    box-shadow: 0px 0px 1px #0004;
    text-align: center;
  }

  ul {
    padding-right: 2rem;
  }
}
